* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
 }

 header {
    background-color: #781aab;
    color: rgb(255, 255, 255);
    padding: 3rem;
    text-align: center;
    position: relative;
 }

 header h1 {
    margin: 0;
    text-align: left;
 }
main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: space-evenly;
    padding: 1rem;
}



 #menu {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    display: block;
    cursor: pointer;
    padding: 0.5rem;
 }

 .navigation {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
 }

 .navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
    background-color: #781aab;
    display: block;
    text-align: center;
 }

 .navigation a:hover {
    background-color: #ec9fff;
 }


 .temples {
    display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: space-evenly;
   margin-top: 1rem;
 }

 figure {
    width: calc(33.33% - 1rem);
    margin: 0;
    text-align: center;
    color:#781aab;
    
 }

 figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
 }

 footer {
    background-color: #781aab;
    color: rgb(255, 255, 255);
    padding: 3rem;
    text-align: center;
    text-align: center;
    margin-top: 2rem;
 }

 @media (max-width: 768px) {
    .temples {
        justify-content: space-around;  
    }

    figure {
        width: calc(50% - 1rem); 
    }
}

@media (max-width: 480px) {
    .temples {
        justify-content: center;  
    }

    figure {
        width: 100%; 
    }
}