@media (min-width: 1024px) {
    
    .navigation {
        display: flex;
        justify-content: space-around;
    }

    
    .temples {
        justify-content: space-between;  
    }

    figure {
        width: calc(33.33% - 1rem); 
        flex-basis: calc(33.33% - 1rem); 
    }
}